body {
    background-image: url(src/img/forest.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#main {
    width: 60%;
    background-color: rgba(3, 94, 0, 0.658);
    margin: auto;
    border-radius: 20px;
    font-family: sans-serif;
    color: white;
}
label {
    display: block;
    font-size: 240%;
}
.form-group {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    
}
.field {
    border-radius: 10px;
    border: none;
    width: 50%;
    height: 50px;
    font-size: 200%;
    margin-top: 1%;
    background-color: rgba(255, 255, 255, 0.836);

}
#title {
    text-align: center;
    font-size: 400%;
    padding: 3%;
}

#info {
    margin: auto;
    width: 80%;
    padding-top: 1%;
    font-size: 160%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.74);
    padding-bottom: 1%;
    border-radius: 20px;
    color: black;
}
#submit {
    width: 70%;
    height: 50px;
    font-size: 200%;
    margin-left: 13%;
    margin-bottom: 10%;
    border-radius: 20px;
    border: none;
}
#submit:hover {
    background-color: rgba(0, 128, 0, 0.87);
    color: rgba(255, 255, 255, 0.774);
}
#comments {
    width: 97.5%;
    height: 208px;
    font-size: 20px;
    border-radius: 15px;
}
.p-label {
    font-size: 240%;
}
.input-radio {
    height: 30px;
    width: 30px;
}
#image-file {
    border: none;
    padding-top: 1%;
}
